<div class="registration-box border-box mb-3 ">
    <div class="container">
        <div class="registration-box">
            <div class="card border-0 p-0">
                <div class="card-body p-0">
                    <fieldset class="border-box mb-3">
                      <legend class="float-none w-auto"><b><span class="badge bg-secondary">Programe Registration</span></b></legend>
                        <div class="card border-0 p-0">
                          <div class="card-body p-0">
                             <form [formGroup]="ProgrameResitrationForm" (ngSubmit)="Fromsubmit()">
                            <fieldset class="border-box mb-3">
                              <div class="card">
                              <div class="card border-0 p-0">
                                 <div class="card-body p-0">
                                <div class="row">
                                  <div class="col-md-3">
                                    <input type="text" formControlName="programeName" name="programeName" class="form-control"
                                      placeholder="Enter Programe Name" required>
                                    <input type="text" formControlName="programeID" name="programeID" hidden="hidden">
                                    <div
                                      *ngIf="(progFormControls['programeName'].touched || isProgrameFormSubmitted) && progFormControls['programeName'].invalid"
                                      class="errorMessage">
                                      <div *ngIf="progFormControls['programeName'].errors && progFormControls['programeName'].errors['required']">Programe
                                        Name is required.</div>
                                    </div>
                                   </div>
                                  <div class="col-md-3">
                                    <select class="form-select" formControlName="programeDuration" name="programeDuration" required>
                                      <option value="" disabled selected>Programe Duration</option>
                                      <option value="1 Year">One Year</option>
                                      <option value="2 Year">Two Year</option>
                                      <option value="3 Year">Three Year</option>
                                      <option value="4 Year">Three Year</option>
                                    </select>
                                    <div
                                      *ngIf="(progFormControls['programeDuration'].touched || isProgrameFormSubmitted) && progFormControls['programeDuration'].invalid"
                                      class="errorMessage">
                                      <div *ngIf="progFormControls['programeDuration'].errors && progFormControls['programeDuration'].errors['required']">
                                        Programe Duration is required.</div>
                                    </div>
                                  </div>
                                  <div class="col-md-3">
                                    <select class="form-select" formControlName="programeLebel" name="programeLebel" required>
                                      <option value="" disabled selected>Programe Level</option>
                                      <option value="Diploma">Diploma</option>
                                      <option value="PG Diploma">PG Diploma</option>
                                      <option value="UG">UG</option>
                                      <option value="PG">PG</option>
                                    </select>
                                    <div
                                      *ngIf="(progFormControls['programeLebel'].touched || isProgrameFormSubmitted) && progFormControls['programeLebel'].invalid"
                                      class="errorMessage">
                                      <div *ngIf="progFormControls['programeLebel'].errors && progFormControls['programeLebel'].errors['required']">
                                        Programe Lebel is required.</div>
                                    </div>
                                  </div>         
                                    <div class="col-md-3">
                                      <button type="submit" class="btn btn-outline-success btn-sm">Submit</button>
                                    </div>
                                </div>
                                </div>
                                </div>
                              </div>
                            </fieldset>
                            </form>
                              <app-void-table [pageArray]="pageArray" [TableData]="programeList" [ColumnData]="columnArray"
                             (pageChange)="onpagechange($event)"
                             (onActionPageData)="onActionEvent($event)">
                            </app-void-table>
                           </div>
                        </div>
                  </fieldset>
                </div>
            </div>            
          </div>
      </div>
</div>