<div class="main-content modal-popup-main modal-experience-form">
    <div class="page-content">
        <div class="registration-main">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form [formGroup]="courseSubjectForm" (ngSubmit)="Fromsubmit()">
                        <div class="modal-body">
                            <div class="registration-box border-box">
                                <div class="container">
                                    <div class="registration-box">
                                        <div class="card border-0 p-0">
                                            <div class="card-body p-0">
                                                <fieldset class="border-box">
                                                    <div class="row">
                                                        <div class="col-9">
                                                            <legend class="float-none w-auto"><b><span
                                                                        class="badge bg-secondary">Examination Paper
                                                                        Details Add</span></b></legend>
                                                        </div>
                                                        <div class="col-3">
                                                            <button type="button" class="btn btn-danger"
                                                                data-bs-dismiss="modal"
                                                                (click)="closeModal('CLOSE')">Close</button>

                                                        </div>
                                                    </div>

                                                    <div class="card border-0 p-0">
                                                        <div class="card-body p-0">
                                                            <fieldset class="border-box">
                                                                <div class="row my-3">
                                                                    <div class="col-4">
                                                                        @if(patternType =='Yearly'){
                                                                        <select class="form-select"
                                                                            formControlName="semYear" name="semYear">
                                                                            <option value="">Select Year</option>
                                                                            <option value="1">1 Year</option>
                                                                            <option value="2">2 Year</option>
                                                                            <option value="3">3 Year</option>
                                                                            <option value="4">4 Year</option>
                                                                            <option value="5">5 Year</option>
                                                                        </select>
                                                                        }
                                                                        @else {
                                                                        <select class="form-select"
                                                                            formControlName="semYear" name="semYear">
                                                                            <option value="">Select Semester</option>
                                                                            <option value="1">First Semester</option>
                                                                            <option value="2">Second Semester</option>
                                                                            <option value="3">Third Semester</option>
                                                                            <option value="4">Fourth Semester</option>
                                                                            <option value="5">Fifth Semester</option>
                                                                            <option value="6">Sixth Semester</option>
                                                                            <option value="7">Seventh Semester</option>
                                                                            <option value="8">Eight Semester</option>
                                                                        </select>
                                                                        }

                                                                    </div>
                                                                </div>
                                                                <div class="row my-3">
                                                                    <div class="col-md-2">
                                                                        <select class="form-select"
                                                                            formControlName="isCompulsory"
                                                                            name="isCompulsory">
                                                                            <option value="" disabled selected>Is
                                                                                Compulsury</option>
                                                                            <option value="1">Yes</option>
                                                                            <option value="0">No</option>
                                                                        </select>
                                                                        @if((subjectFormControls['isCompulsory'].touched
                                                                        || iscourseSubjectForm) &&
                                                                        subjectFormControls['isCompulsory'].invalid)
                                                                        {
                                                                        <div class="errorMessage">
                                                                            @if(subjectFormControls['isCompulsory'].errors
                                                                            &&
                                                                            subjectFormControls['isCompulsory'].errors['required'])
                                                                            {
                                                                            <div>isCompulsory is required.</div>
                                                                            }
                                                                        </div>
                                                                        }
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <input type="text" formControlName="subjSeq"
                                                                            name="subjSeq" class="form-control"
                                                                            placeholder="Paper Sequence.">
                                                                        @if((subjectFormControls['subjSeq'].touched ||
                                                                        iscourseSubjectForm) &&
                                                                        subjectFormControls['subjSeq'].invalid)
                                                                        {
                                                                        <div class="errorMessage">
                                                                            @if(subjectFormControls['subjSeq'].errors &&
                                                                            subjectFormControls['subjSeq'].errors['required'])
                                                                            {
                                                                            <div>Paper Sequence is required.</div>
                                                                            }
                                                                        </div>
                                                                        }
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <input type="text" formControlName="subjName"
                                                                            name="subjName" class="form-control"
                                                                            placeholder="Paper Name">
                                                                        <input type="text" hidden="hidden"
                                                                            formControlName="subjectCourseID"
                                                                            name="subjectCourseID" class="form-control">
                                                                        @if((subjectFormControls['subjName'].touched ||
                                                                        iscourseSubjectForm) &&
                                                                        subjectFormControls['subjName'].invalid)
                                                                        {
                                                                        <div class="errorMessage">
                                                                            @if(subjectFormControls['subjName'].errors
                                                                            &&
                                                                            subjectFormControls['subjName'].errors['required'])
                                                                            {
                                                                            <div>subjName is required.</div>
                                                                            }
                                                                        </div>
                                                                        }

                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <input type="text" formControlName="subjectCode"
                                                                            name="subjectCode" class="form-control"
                                                                            placeholder="Paper Code">
                                                                        @if((subjectFormControls['subjectCode'].touched
                                                                        || iscourseSubjectForm) &&
                                                                        subjectFormControls['subjectCode'].invalid)
                                                                        {
                                                                        <div class="errorMessage">
                                                                            @if(subjectFormControls['subjectCode'].errors
                                                                            &&
                                                                            subjectFormControls['subjectCode'].errors['required'])
                                                                            {
                                                                            <div>subjectCode is required.</div>
                                                                            }
                                                                        </div>
                                                                        }
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <select class="form-select"
                                                                            formControlName="activeStatus"
                                                                            name="activeStatus">
                                                                            <option value="" disabled selected>Active
                                                                                Status</option>
                                                                            <option value="1">Yes</option>
                                                                            <option value="0">No</option>
                                                                        </select>
                                                                        @if((subjectFormControls['activeStatus'].touched
                                                                        || iscourseSubjectForm) &&
                                                                        subjectFormControls['activeStatus'].invalid)
                                                                        {
                                                                        <div class="errorMessage">
                                                                            @if(subjectFormControls['activeStatus'].errors
                                                                            &&
                                                                            subjectFormControls['activeStatus'].errors['required'])
                                                                            {
                                                                            <div>activeStatus is required.</div>
                                                                            }
                                                                        </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="row my-3">
                                                                    <div class="col-md">
                                                                        <input type="text" formControlName="theoryMax"
                                                                            name="theoryMax" class="form-control"
                                                                            placeholder="theoryMax" NumberOnly>
                                                                        @if((subjectFormControls['theoryMax'].touched ||
                                                                        iscourseSubjectForm) &&
                                                                        subjectFormControls['theoryMax'].invalid)
                                                                        {
                                                                        <div class="errorMessage">
                                                                            @if(subjectFormControls['theoryMax'].errors
                                                                            &&
                                                                            subjectFormControls['theoryMax'].errors['required'])
                                                                            {
                                                                            <div>theoryMax is required.</div>
                                                                            }
                                                                        </div>
                                                                        }
                                                                    </div>
                                                                    <div class="col-md">
                                                                        <input type="text" formControlName="theoryMin"
                                                                            name="theoryMin" class="form-control"
                                                                            placeholder="theoryMin" NumberOnly (blur)="validateMinMax('theoryMin')">
                                                                        @if((subjectFormControls['theoryMin'].touched ||
                                                                        iscourseSubjectForm) &&
                                                                        subjectFormControls['theoryMin'].invalid)
                                                                        {
                                                                        <div class="errorMessage">
                                                                            @if(subjectFormControls['theoryMin'].errors
                                                                            &&
                                                                            subjectFormControls['theoryMin'].errors['required'])
                                                                            {
                                                                            <div>theoryMin is required.</div>
                                                                            }
                                                                        </div>
                                                                        }
                                                                    </div>
                                                                    <div class="col-md">
                                                                        <input type="text" formControlName="practMax"
                                                                            name="practMax" class="form-control"
                                                                            placeholder="practMax" NumberOnly>
                                                                        @if((subjectFormControls['theoryMin'].touched ||
                                                                        iscourseSubjectForm) &&
                                                                        subjectFormControls['theoryMin'].invalid){
                                                                        <div class="errorMessage">
                                                                            @if(subjectFormControls['theoryMin'].errors
                                                                            &&
                                                                            subjectFormControls['theoryMin'].errors['required']){
                                                                            <div>practMax is required.</div>}
                                                                        </div>}
                                                                    </div>
                                                                    <div class="col-md">
                                                                        <input type="text" formControlName="practMin"
                                                                            name="practMin" class="form-control"
                                                                            placeholder="practMin" (blur)="validateMinMax('practMin')" NumberOnly>
                                                                        @if((subjectFormControls['practMin'].touched ||
                                                                        iscourseSubjectForm) &&
                                                                        subjectFormControls['practMin'].invalid){
                                                                        <div class="errorMessage">
                                                                            @if(subjectFormControls['practMin'].errors
                                                                            &&
                                                                            subjectFormControls['practMin'].errors['required']){
                                                                            <div>practMin is required.</div>}
                                                                        </div>}
                                                                    </div>
                                                                    <div class="col-md">
                                                                        <input type="text" formControlName="sesMax"
                                                                            name="sesMax" class="form-control"
                                                                            placeholder="sesMax" NumberOnly>
                                                                        @if((subjectFormControls['sesMax'].touched ||
                                                                        iscourseSubjectForm) &&
                                                                        subjectFormControls['sesMax'].invalid){
                                                                        <div class="errorMessage">
                                                                            @if(subjectFormControls['sesMax'].errors &&
                                                                            subjectFormControls['sesMax'].errors['required']){
                                                                            <div>sesMax is required.</div>}
                                                                        </div>}
                                                                    </div>
                                                                    <div class="col-md">
                                                                        <input type="text" formControlName="sesMin"
                                                                            name="sesMin" class="form-control"
                                                                            placeholder="sesMin" (blur)="validateMinMax('sesMin')" NumberOnly>
                                                                        @if((subjectFormControls['sesMin'].touched ||
                                                                        iscourseSubjectForm) &&
                                                                        subjectFormControls['sesMin'].invalid){
                                                                        <div class="errorMessage">
                                                                            @if(subjectFormControls['sesMin'].errors &&
                                                                            subjectFormControls['sesMin'].errors['required']){
                                                                            <div>sesMin is required.</div>}
                                                                        </div>}
                                                                    </div>
                                                                    <!-- <div class="col-md">
                                                                        <input type="text" formControlName="maxTotal"
                                                                            name="maxTotal" class="form-control"
                                                                            placeholder="maxTotal" NumberOnly>
                                                                        @if((subjectFormControls['maxTotal'].touched ||
                                                                        iscourseSubjectForm) &&
                                                                        subjectFormControls['maxTotal'].invalid){
                                                                        <div class="errorMessage">
                                                                            @if(subjectFormControls['maxTotal'].errors
                                                                            &&
                                                                            subjectFormControls['maxTotal'].errors['required']){
                                                                            <div>Course Scheme Name is required.</div>}
                                                                        </div>}
                                                                    </div> -->
                                                                    <!-- <div class="col-md">
                                                                        <input type="text" formControlName="MinTotal"
                                                                            name="MinTotal" class="form-control"
                                                                            placeholder="MinTotal" NumberOnly>
                                                                        @if((subjectFormControls['MinTotal'].touched ||
                                                                        iscourseSubjectForm) &&
                                                                        subjectFormControls['MinTotal'].invalid){
                                                                        <div class="errorMessage">
                                                                            @if(subjectFormControls['MinTotal'].errors
                                                                            &&
                                                                            subjectFormControls['MinTotal'].errors['required']){
                                                                            <div>Course Scheme Name is required.</div>}
                                                                        </div>}
                                                                    </div> -->

                                                                </div>
                                                                <div class="row button-des">
                                                                    <div class="col-md-2">
                                                                        <button type="button"
                                                                            class="btn btn-outline-success btn-sm" (click)="AddSubject()">Add Subject</button>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <div class="card border-0 p-0">
                                                        <div class="card-body p-0">
                                                            <fieldset class="border-box mb-3">
                                                                <div class="row">
                                                                    <div class="col p-2">
                                                                    <table class="table table-bordered table-striped">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="hoz-td sorting sorting_asc"
                                                                                rowspan="1" colspan="1"
                                                                                style="width: 5px;">
                                                                                S.No.
                                                                            </th>
                                                                            <th class="hoz-td sorting sorting_asc"
                                                                                rowspan="1" colspan="1"
                                                                                style="width: 5px;">
                                                                                isCompulsory
                                                                            </th>
                                                                            <th class="hoz-td sorting sorting_asc"
                                                                                rowspan="1" colspan="1"
                                                                                style="width: 10px;">
                                                                                subjName
                                                                            </th>
                                                                             <th class="hoz-td sorting sorting_asc"
                                                                                rowspan="1" colspan="1"
                                                                                style="width: 10px;">
                                                                                subjectCode
                                                                            </th>
                                                                            <th class="hoz-td sorting sorting_asc"
                                                                                rowspan="1" colspan="1"
                                                                                style="width: 15px;">
                                                                                theoryMax
                                                                            </th>
                                                                             <th class="hoz-td sorting sorting_asc"
                                                                                rowspan="1" colspan="1"
                                                                                style="width: 10px;">
                                                                                theoryMin
                                                                            </th>
                                                                            <th class="hoz-td sorting sorting_asc"
                                                                                rowspan="1" colspan="1"
                                                                                style="width: 10px;">
                                                                                Practical Max
                                                                            </th>
                                                                            <th class="hoz-td sorting sorting_asc"
                                                                                rowspan="1" colspan="1"
                                                                                style="width: 10px;">
                                                                                Practical Min
                                                                            </th>
                                                                             <th class="hoz-td sorting sorting_asc"
                                                                                rowspan="1" colspan="1"
                                                                                style="width: 10px;">
                                                                                Sessional Max
                                                                            </th>
                                                                              <th class="hoz-td sorting sorting_asc"
                                                                                rowspan="1" colspan="1"
                                                                                style="width: 10px;">
                                                                                Sessional Min
                                                                            </th>
                                                                            <th class="hoz-td sorting sorting_asc"
                                                                                rowspan="1" colspan="1"
                                                                                style="width: 10px;">
                                                                                maxTotal
                                                                            </th>
                                                                            <!-- <th class="hoz-td sorting sorting_asc"
                                                                                rowspan="1" colspan="1"
                                                                                style="width: 10px;">
                                                                                MinTotal
                                                                            </th> -->
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @for (item of subjectList; track item.subjName; let i=$index)  {
                                                                        <tr class="odd">
                                                                            <td>
                                                                                <div class="flex flex-top">
                                                                                    <p><span>{{i+1}}</span></p>
                                                                                </div>
                                                                            </td>
                                                                             <td>
                                                                                <div class="flex flex-top">
                                                                                    <p><span>{{item.isCompulsory}}</span></p>
                                                                                </div>
                                                                            </td>
                                                                              <td>
                                                                                <div class="flex flex-top">
                                                                                    <p><span>{{item.subjName}}</span></p>
                                                                                </div>
                                                                              </td> 
                                                                              <td>
                                                                                <div class="flex flex-top">
                                                                                    <p><span>{{item.subjectCode}}</span></p>
                                                                                </div>
                                                                              </td> 
                                                                              <td>
                                                                                <div class="flex flex-top">
                                                                                    <p><span>{{item.theoryMax}}</span></p>
                                                                                </div>
                                                                              </td>
                                                                              <td>
                                                                                <div class="flex flex-top">
                                                                                    <p><span>{{item.theoryMin}}</span></p>
                                                                                </div>
                                                                              </td>
                                                                               <td>
                                                                                <div class="flex flex-top">
                                                                                    <p><span>{{item.practMax}}</span></p>
                                                                                </div>
                                                                              </td>
                                                                              <td>
                                                                              <div class="flex flex-top">
                                                                                    <p><span>{{item.practMin}}</span></p>
                                                                                </div>
                                                                              </td>
                                                                              <td>
                                                                              <div class="flex flex-top">
                                                                                    <p><span>{{item.sesMax}}</span></p>
                                                                                </div>
                                                                              </td>
                                                                              <td>
                                                                              <div class="flex flex-top">
                                                                                    <p><span>{{item.sesMin}}</span></p>
                                                                                </div>
                                                                              </td>
                                                                              <td>
                                                                              <div class="flex flex-top">
                                                                                    <p><span>{{item.maxTotal}}</span></p>
                                                                                </div>
                                                                              </td>
                                                                              <td>
                                                                        </tr>
                                                                        }
                                                                        
                                                                    </tbody>
                                                                </table>
                                                                    </div>
                                                                </div>
                                                                
                                                               <button type="submit">Save Paper</button>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>