<!-- <div class="row">
    <div class="col-md-3">
        <p>{{firstName}}</p>
    </div>
    <div class="col-md-3">
        <p>{{age}}</p>
    </div>
    <div class="col-md-3">
        <p>{{Address}}</p>
    </div>
    <div class="col-md-3">
        <p>{{Email}}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p>{{currentDate}}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <input type="text" [value]="firstName" class="form-control"/>
    </div>
    <div class="col-md-3">
        <input [type]="inputType"/>
        <input type="radio"/>
    </div>
    <div class="col-md-3">
        <input type="text" [(ngModel)]="firstName" class="form-control"/>
    </div>
    <div class="col-md-3">
        {{selectedState}}
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <select [(ngModel)]="selectedState">
            <option value="MP">Madhya Pradesh   </option>
            <option value="Mh">MH </option>
            <option value="UP">UP  </option>

        </select>
    </div>
</div> -->
<div class="row">
    <div class="col-md-4">
        <ul>
            <li *ngFor="let item of role">{{item.role}}</li>
        </ul>
    </div>
    <div class="col-md-4">
        <select class="form-control">
            <option *ngFor="let item of role" [value]="item.roleId">{{item.role}}</option>
        </select>
    </div>

</div>
