<div class="registration-box border-box mb-3 ">
    <div class="container">
        <div class="registration-box">
            <div class="card border-0 p-0">
                <div class="card-body p-0">
                    <fieldset class="border-box mb-3">
                      <legend class="float-none w-auto"><b><span class="badge bg-secondary">User Registration</span></b></legend>
                        <div class="card border-0 p-0">
                          <div class="card-body p-0">
                             <form [formGroup]="userRegistraionFormGroup" (ngSubmit)="Fromsubmit()">
                            <fieldset class="border-box mb-3">
                              <div class="card">
                              <div class="card border-0 p-0">
                                 <div class="card-body">
                                <div class="row p-2">
                                  <div class="col-md-4">
                                    <input type="text" class="form-control" formControlName="fullname" name="fullname" id="fullname" placeholder="Enter your name" required />
                                    <div *ngIf="(ueseFormControl['fullname'].touched || isuserFormsubmitted) && ueseFormControl['fullname'].invalid" class="errorMessage">
                                      <div *ngIf="ueseFormControl['fullname'].errors && ueseFormControl['fullname'].errors['required']">Name is required.</div>
                                      <div *ngIf="ueseFormControl['fullname'].errors && ueseFormControl['fullname'].errors['minlength']">Name should be 3 character.</div>
                                    </div>
                                   </div>
                                   <div class="col-md-4">
                                    <input type="text" class="form-control" formControlName="userName" name="userName" id="userName" placeholder="Enter your username" required />
                                     <div *ngIf="(ueseFormControl['userName'].touched ||isuserFormsubmitted) && ueseFormControl['userName'].invalid" class="errorMessage">
                                     <div *ngIf="ueseFormControl['userName'].errors && ueseFormControl['userName'].errors['required']">Username is required.</div>
                                     </div>
                                  </div>
                                  <div class="col-md-4">
                                    <input type="text" class="form-control" formControlName="email" name="email" id="email" placeholder="Enter your email" required />
                                    <div *ngIf="(ueseFormControl['email'].touched || isuserFormsubmitted) && ueseFormControl['email'].invalid"
                                      class="errorMessage">
                                      <div *ngIf="ueseFormControl['email'].errors && ueseFormControl['email'].errors['required']">Email is required.</div>
                                    </div>
                                  </div>
                                  </div>
                                  <div class="row p-2">
                                   <div class="col-md-4">
                                         <input type="text" class="form-control" formControlName="phoneNumber" name="phoneNumber" id="phoneNumber" placeholder="Enter your number"
                                               required />
                                        <div *ngIf="(ueseFormControl['phoneNumber'].touched || isuserFormsubmitted) && ueseFormControl['phoneNumber'].invalid"
                                           class="errorMessage">
                                              <div *ngIf="ueseFormControl['phoneNumber'].errors && ueseFormControl['phoneNumber'].errors['required']">PhoneNumber
                                               is required.</div>
                                        </div>
                                     </div>
                                     <div class="col-md-4">
                                      <input type="text" class="form-control" formControlName="loginID" name="loginID" id="loginID" placeholder="Enter your loginID"
                                        required />
                                      <div *ngIf="(ueseFormControl['loginID'].touched || isuserFormsubmitted) && ueseFormControl['loginID'].invalid"
                                        class="errorMessage">
                                        <div *ngIf="ueseFormControl['loginID'].errors && ueseFormControl['loginID'].errors['required']">loginID is
                                          required.</div>
                                      </div>
                                    </div>
                                  <div class="col-md-4">
                                      <input type="password" class="form-control" formControlName="password" name="password" id="password" placeholder="Enter your Password"
                                        required />
                                      <div *ngIf="(ueseFormControl['password'].touched || isuserFormsubmitted)&& ueseFormControl['password'].invalid"
                                        class="errorMessage">
                                        <div *ngIf="ueseFormControl['password'].errors && ueseFormControl['password'].errors['required']">PhoneNumber is
                                          required.</div>
                                      </div>
                                    </div>
                                    
                                  </div>
                                  <div class="row p-2">
                                  
                                    <div class="col-md-4">
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" formControlName="gender" name="inlineRadioOptions" id="inlineRadio1" value="male">
                                      <label class="form-check-label" for="inlineRadio1">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" formControlName="gender" name="inlineRadioOptions" id="inlineRadio2" value="female">
                                      <label class="form-check-label" for="inlineRadio2">Female</label>
                                    </div>
                                    
                                </div>
                              <div class="col-md-4">
                                  <!-- <input formControlName="gender" type="radio" name="gender" value="male" id="dot-1">
                                  <input formControlName="gender" type="radio" name="gender" value="female" id="dot-2">
                                  <span class="gender-title">Gender</span>
                                  <div class="category">
                                    <label for="dot-1">
                                      <span class="dot one"></span>
                                      <span class="gender">Male</span>
                                    </label>
                                    <label for="dot-2">
                                      <span class="dot two"></span>
                                      <span class="gender">Female</span>
                                    </label>
                                  </div> -->
                              </div>
                                  <div class="col-md-2">
                                              <button type="submit" class="btn btn-outline-success btn-sm">Submit</button>      
                                  </div>
                                  </div>
                                </div>
                                </div>
                              </div>
                            </fieldset>
                            </form>
                            <app-void-table [pageArray]="pageArray" [TableData]="userList" [ColumnData]="columnArray"
                             (pageChange)="pageChange($event)" (onActionPageData)="onActionEvent($event)"> </app-void-table>
                          </div>
                        </div>
                  </fieldset>
                </div>
            </div>            
          </div>
      </div>
</div>