.exam-time-table-slot-page{
    .card-col{
        padding: 0 1.3rem;
        margin-bottom: 1.5rem;
        .mcard{
            padding: 0;
            margin: 0;
            .card{
                margin: 0.2rem;
                .card-body{
                    padding: 0.5rem 0.8rem;
                    .card-title{
                        margin-bottom: 0.8rem;
                        h4{
                            font-size: 0.876rem;
                            font-weight: 600;
                            padding: 0;
                            margin: 0;
                        }
                        p{
                            padding: 0;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
   
}
#myChart {
    width: 100%; /* You can set to 100% or any fixed pixel value like '500px' */
    height: 400px; /* Adjust height as needed */
  }