<div class="dashboard-page main-content exam-time-table-slot-page">
    <div class="page-content">
        <section class="work-order-detail-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="top-box d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="right-box-img">
                                    
                                </div>
                                <div class="main-box-titel">
                                    <h1>MCQ-Examination</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <form [formGroup]="ExamTimeTableForm" (ngSubmit)="onSubmit()"> -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-3 card-col"style="margin-left:auto;">
                            <div class="card border-dark">
                                <div class="card-body">
                                    <div class="card-title"  style="text-align: center;font-family: cursive;">Student's Details</div>
                                    <p> <span>Sandeep Sahu </span></p> 
                                        <p style="margin-top: -16px;"> <span >Roll No.:- XYZ123M0021 </span></p>
                                        <p style="margin-top: -16px;"> <span >Exam Sesssion: June-2014 </span></p>
                                </div>
                                <div class="card-body">
                                    <div class="card-title"  style="text-align: left;font-family: cursive;background-color:yellow;">Total Question-{{mcqLenghth}}</div>
                                    <div class="card-title"  style="text-align: left;font-family: cursive;background-color: #8bdd0c;">Total Attempt-{{attemptQuestion}}</div>
                                    <div class="card-title"  style="text-align: left;color: bisque; font-family: cursive;background-color: rgb(241, 27, 99);">Reamening Question- {{mcqLenghth - attemptQuestion}}</div>
                                </div>
                                <div class="card-body" style="margin-top: -32px">
                                    <!-- <div style="width: 30%; margin: auto;">
                                        <canvas id="myChart" width="400" height="400">
                                        </canvas>
                                        <span class="badge bg-success" style="margin-left: -34px;"><label>Question Attempt Statics </label></span>
                                    </div> -->
                                </div>
                            </div>

                        </div>

                        <div class="col-6 card-col">
                            <div class="row" *ngFor="let mcqList of filtermcqQuestion; let i=index">
                                <!-- <div class="col-md-3 col-sm-12 col-xl-3 col-xxl-3 col-lg-3 mcard"> -->
                                <div class="col-12 card-col">
                                    <div class="card border-dark">
                                        <div class="card-body">
                                            <div class="card-title">
                                                <p><span style="font-family: cursive; color: brown;">{{currentIndex+1}}){{mcqList.question}}</span></p>
                                                <p *ngFor="let optionList of filtermcqQuestion[0].answerOption; let i=index">
                                                    <span></span>
                                                    <input class="form-check-input" type="radio" name="mcqList{{ mcqList.q_Id }}" [value]="optionList.AnswerOption" [(ngModel)]="mcqList.givenAnswer"/> 
                                                    <span class="badge bg-warning text-dark me-2" >{{optionList.AnswerOption}}-{{optionList.AnserDescription}}    
                                                 </span></p> 
                                            </div> 
                                            <!-- <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                                <button type="button" class="btn btn-danger" (click)="prevQueCall()">Previous</button>
                                                <button type="button" class="btn btn-warning">Save</button>
                                                <button type="button" class="btn btn-success" (click)=" nextQueCall()">Next</button>
                                            </div> -->
                                        </div>
                                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                            <button type="button" class="btn btn-danger" (click)="prevQueCall()"> << Previous</button>
                                            <button type="button" class="btn btn-warning">Save</button>
                                            <button type="button" class="btn btn-success" (click)=" nextQueCall()">Next >></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 card-col" style="margin-left: auto;">
                            <div class="row">
                                <div class="col">
                                    <div class="card border-dark">
                                        <div class="card-body">
                                            <div class="card-title"  style="text-align: center;font-family: cursive;background-color: burlywood;">Select-Question</div>
                                            <div class="row">
                                                <div class="col-md-2 card-col" *ngFor="let mcqList of mcqQuestion; let i=index" style="margin-left: 0px;margin-right: 0px;padding-left:0px">
                                                    <button type="button" class="btn btn-outline-danger" (click)="getQuestion(mcqList.q_Id,i)" *ngIf="mcqList.givenAnswer=='' ">{{i+1}}</button>
                                                    <button type="button" class="btn btn-success" (click)="getQuestion(mcqList.q_Id,i)" *ngIf="mcqList.givenAnswer!='' ">{{i+1}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 card-col">
                                    <div class="row">
                                        <div class="col-auto" style="margin-left: 271px;margin-top: 8px;">
                                            <button class="btn btn-success" type="buttons" (click)="submit()">Submit</button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </div>
                    </div>
                    
                </div>
            <!-- </form> -->
        </section>
    </div>
</div>
