<div class="registration-box border-box mb-3 ">
    <div class="container">
        <div class="registration-box">
            <div class="card border-0 p-0">
                <div class="card-body p-0">
                    <fieldset class="border-box mb-3">
                      <legend class="float-none w-auto"><b><span class="badge bg-secondary">Course Scheme Master</span></b></legend>
                        <div class="card border-0 p-0">
                          <div class="card-body p-0">
                             <form [formGroup]="courseSchemeMatsterForm" (ngSubmit)="Fromsubmit()">
                            <fieldset class="border-box mb-3">
                              <div class="card">
                              <div class="card border-0 p-0">
                                 <div class="card-body p-0">
                                <div class="row">
                                  <div class="col-md-3">
                                    <input type="text" formControlName="courseSchemeName" name="courseSchemeName" class="form-control"
                                      placeholder="Course Scheme Name" required>
                                    <input type="text" formControlName="courseSchemeID" name="courseSchemeID" hidden="hidden">
                                    <div
                                      *ngIf="(progFormControls['courseSchemeName'].touched || iscourseSchemeMatsterForm) && progFormControls['courseSchemeName'].invalid"
                                      class="errorMessage">
                                      <div *ngIf="progFormControls['courseSchemeName'].errors && progFormControls['courseSchemeName'].errors['required']">Course Scheme
                                        Name is required.</div>
                                    </div>
                                   </div>
                                  <div class="col-md-3">
                                    <select class="form-select" formControlName="programeID" name="programeID" required >
                                      <option value="" disabled selected>Select Programe</option>
                                      <option *ngFor="let Item of programeListDDL" [value]="Item.programeID">{{Item.programeName}}</option>
                                    </select>
                                    <div
                                      *ngIf="(progFormControls['programeID'].touched || iscourseSchemeMatsterForm) && progFormControls['programeID'].invalid"
                                      class="errorMessage">
                                      <div *ngIf="progFormControls['programeID'].errors && progFormControls['programeID'].errors['required']">
                                        Programe is required.</div>
                                    </div>
                                  </div>
                                  <div class="col-md-3">
                                    <select class="form-select" formControlName="isActive" name="isActive" required>
                                      <option value="" disabled selected>Select</option>
                                      <option value="1">Active</option>
                                      <option value="0">InActive</option>
                                    </select>
                                    <div
                                      *ngIf="(progFormControls['isActive'].touched || iscourseSchemeMatsterForm) && progFormControls['isActive'].invalid"
                                      class="errorMessage">
                                      <div *ngIf="progFormControls['isActive'].errors && progFormControls['isActive'].errors['required']">
                                        Programe Lebel is required.</div>
                                    </div>
                                  </div>         
                                    <div class="col-md-3">
                                      <button type="submit" class="btn btn-outline-success btn-sm">Submit</button>
                                    </div>
                                </div>
                                </div>
                                </div>
                              </div>
                            </fieldset>
                            </form>
                            <app-void-table [pageArray]="pageArray" [TableData]="courseSchemeList" [ColumnData]="columnArray"
                             (pageChange)="onpagechange($event)"
                             (onActionPageData)="onEdit($event)">
                            </app-void-table>
                          </div>
                        </div>
                  </fieldset>
                </div>
            </div>            
          </div>
      </div>
</div>
